.Notifications {
    border: 1px dashed #E0354B;;
    padding: 10px;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
  }
  
  .Notifications ul li[data-priority="urgent"] {
    color: red;
  }